tr {
    text-wrap: wrap;
    /* word-break:break-all; */
}

table {
    text-align: center;
}

table .btn {
    font-size: 0.8rem;
}

p {
    margin: 0;
}

.w-85 {
    width: 85%;
}

#checks {
    padding-top: 24px;

}

.borrar {
    cursor: pointer;
}